@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.navbar {
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco con transparencia */
  backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  position: fixed; /* Fijar el menú en la parte superior */
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el menú esté encima de otros elementos */

  .logo {
    cursor: pointer;
    height: 30px;
  }
}


.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Ocultar en pantallas grandes */
}

.hamburger img {
  width: 25px;
  height: 25px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navLinks li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navLinks li:hover {
  color: #ececec;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: #10a37f;
  color: white;
  width: 120px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 7px;
}

.button:hover {
  background-color: #0c8e6d;
}

.buttonLogIn {
  background-color: #6e6e80;
  color: white;
}
.buttonLogIn:hover {
  background-color: #5a5a67;
}
.navFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  .nav {
    cursor: pointer;
    display: flex;

    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .navFlex {
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: 20px;
    .nav {
      flex-direction: column;
    }
  }
  .navbar {
    padding: 0 20px;
  }
  .hamburger {
    display: block;
  }

  .navLinks {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background-color: white;
    flex-direction: column;

    align-items: start;
    gap: 15px;
    padding: 50px 30px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
  }

  .chevDownIcon {
    filter: brightness(100%);

    -webkit-filter: brightness(100%);
  }
  .navLinksOpen {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 9999;
  }

  .navLinksClosed {
    left: -100%;
  }

  .button {
    width: 100%;
    max-width: 160px;
    height: 35px;
  }
  .button:hover {
    background-color: #0d8b6d;
  }
}
.navFlex {
  .disabledBtn {
    color: #6e6e80;
    /* cursor: not-allowed; */
  }
}



.profileContainer {
  display: flex;
  gap: 10px;
  cursor: pointer;
  .profileText {
    display: flex;
    flex-direction: column;
    text-align: end;
    p {
      font-size: 15px;
      margin: 0;
    }
    span {
      font-size: 10px;
    }
  }

  .profileImage {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}


@media (max-width: 300px) {
  .navLinksOpen {
    padding: 50px 10px;
  }
}
