@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.navbar {
  background-color: #11a380;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  font-family: "Inter", sans-serif;
  position: absolute;
  height: 70px;
  min-height: 70px;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navLinks li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  user-select: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: color 0.3s ease;
  img {
    margin-top: 3px;
    margin-left: 5px;
  }
}
.navLinks li:hover {
  color: #ececec;
}

.dropdownArrow {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.button {
  background-color: #fff;
  color: #001b38;
  font-weight: 600;
  width: 143px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ececec;
}
