.dropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.filterSort {
  font-size: 12px;
  font-weight: 400;
  color: #7e7e7e;
  height: 35px;
  border-radius: 4px;
  background: #f4f4f4;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.filterSort b {
  font-weight: 600;
  color: #3d3c42;
  margin-left: 6px;
  user-select: none;
}

.chevronIcon {
  margin-left: auto;
  color: #292d32;
}

.dropdownOptions {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.dropdownOption {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: #9c9d9f;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.dropdownOption:hover {
  background-color: #f0f2f8;
}
