@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.packsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-size: contain;
  align-self: center;
  overflow: hidden;
}
@media (width <= 500px) {
  .packsContainer {
    gap: 50px;
  }
}
.stepsContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  h2,
  h3 {
    margin: 0;
    font-size: clamp(20px, 5vw, 40px);
  }
  h2 {
    font-weight: 300;
  }
  h3 {
    font-weight: 500;
  }
}

.stepsContent {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.extensionsContainer {
  /* height: 95vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
  .extensionsTitle {
    margin-bottom: 20px;
  }
}

.packsDescription {
  color: #676767;
  font-size: clamp(18px, 5vw, 22px); /* Ajuste dinámico del tamaño de título */
  font-weight: 300;
  align-items: center;
  justify-content: center;
  /* max-width: 1006px; */
  width: 90%;
  text-align: center;
  padding: 0 20px;
  text-align: center;
  p {
    margin: 0;
    line-height: 30px;
  }
  span {
    color: #16c098;
    font-weight: 700;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  width: 728px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 33px 0px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 17px;
  font-size: 32px;
  font-weight: 400;
  color: #757575;
}

.button {
  background-color: #16c098;
  border: none;
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #13a583;
}

.banner {
  background-color: #def6f0;
  width: 100%;
  display: flex;
  border-radius: 3px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}

.stat {
  max-width: 385px;
}

.bannerTitle {
  color: #16c098 !important;
  font-size: clamp(
    14px,
    1.5vw,
    16px
  ) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  padding: 0 5px;
}

.subtitle {
  color: #676767;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.regular08 {
  color: #676767;
  font-size: clamp(17px, 5vw, 20px) !important; /* Ajuste dinámico con clamp */
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}
@media (max-width: 1000px) {
  .regular08 {
    max-width: 100%;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  div {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #16c0981b;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}

.extensionsTitle {
  font-weight: 700;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #1c1e20;
  margin-top: 0px;
  text-align: center;

  h2 {
    margin: 0;
    font-weight: 300;
    font-size: clamp(
      20px,
      5vw,
      40px
    ) !important; /* Ajuste dinámico con clamp */
  }
}

.flag {
  margin-top: 2px;
  width: clamp(
    30px,
    12vw,
    70px
  ); /* Ajuste dinámico con clamp para el tamaño de la bandera */
  height: auto; /* Mantiene la proporción de la imagen */
}
.dashedContainer {
  display: flex;
  flex-direction: row; /* Por defecto, las cards están en fila */
  flex-wrap: wrap;
  border-radius: 9px;
  /* height: clamp(180px, 20vw, 223px); Ajuste dinámico de la altura */
  margin-top: 10px;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1194px; /* Límite máximo para evitar que se expanda demasiado */
  align-items: center;
  justify-content: center;
  padding: 10px; /* Añade algo de espacio en los bordes */
  margin-top: 30px;
  gap: 20px;
}

.innerCard {
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdfIcon {
  height: 30px;
  width: 30px;
}

.compatibleProgramsContainer {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.innedOdoo {
  background: #a34589;
}

.innerStripe {
  background: #5d62f3;
}
/* Wrapper with space around and flex alignment */
.wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
  width: 88%;
  flex-wrap: wrap; /* Permite que las cards se ajusten en varias filas si es necesario */
  align-items: center;
  min-height: fit-content;
}

/* Individual Card */
.card {
  /* max-width: clamp(200px, 30%, 330px); */
  min-width: 280px;
  /* width: 100%; */
  max-width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Añadir espacio entre las cards */
  h4 {
    margin: 3px;
    font-size: 20px;
    font-weight: 500;
  }
}
@media (width <= 660px) {
  .stepsContent {
    flex-direction: column;
    align-items: center;
  }
}
.card:nth-child(3) {
  max-width: clamp(210px, 32%, 300px); /* Ajuste para la tercera card */
}

/* Step text (Green) */
.step {
  color: #16c098 !important;
  font-size: clamp(16px, 4vw, 22px); /* Ajuste dinámico del tamaño de texto */
  font-weight: 400;
  color: #18181b;
  font-size: clamp(15px, 5vw, 19px); /* Ajuste dinámico del tamaño de título */
  margin: 20px 0;
}

/* Subtitle text */
.subtitle {
  color: #71717a;
  font-size: clamp(
    16px,
    4vw,
    20px
  ); /* Ajuste dinámico del tamaño de subtítulo */
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.sliderWrapperSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
