@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.packsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-size: contain;
  padding: 44px 0px;
  max-width: 1440px;
  align-self: center;
  overflow: hidden;
}

.packsDescription {
  color: #aeb9ca;
  font-size: clamp(18px, 5vw, 24px); /* Ajuste dinámico del tamaño de título */
  font-weight: 500;
  /* height: 133px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  max-width: 1006px;
  margin: 33px 0px;
  text-align: center;
  padding: 0 20px;

  strong{
    color: #71717A;
  }
  
  span {
    font-weight: 700;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  width: 728px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 33px 0px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 17px;
  font-size: 32px;
  font-weight: 400;
  color: #757575;
}

.button {
  background-color: #16c098;
  border: none;
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #13a583;
}

.banner {
  background-color: #def6f0;
  width: 100%;
  height: 93px;
  display: flex;
  border-radius: 3px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.stat {
  max-width: 385px;
}

.bannerTitle {
  color: #406f64 !important;
  font-size: clamp(10px, 2vw, 30px) !important; /* Ajuste dinámico con clamp */
  font-weight: bold;
  padding: 0 5px;
}


.subtitle {
  color: #71717a;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.regular08 {
  color: #080808;
  font-size: clamp(20px, 5vw, 32px) !important; /* Ajuste dinámico con clamp */  
  font-weight: 400;
  margin-top: 33px;
  max-width: 1194px;
  text-align: center;
  padding: 0 20px;
}

.extensionsTitle {
  font-size: clamp(20px, 5vw, 60px) !important; /* Ajuste dinámico con clamp */
  font-weight: 700;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #211f54;
  margin-top: 50px;
}

.flag {
  margin-top: 2px;
  width: clamp(30px, 12vw, 90px); /* Ajuste dinámico con clamp para el tamaño de la bandera */
  height: auto; /* Mantiene la proporción de la imagen */
}
.dashedContainer {
  display: flex;
  flex-direction: row; /* Por defecto, las cards están en fila */
  border: 2px dashed #bdbdbd;
  flex-wrap: wrap;
  border-radius: 9px;
  /* height: clamp(180px, 20vw, 223px); Ajuste dinámico de la altura */
  margin-top: 22px;
  width: 90%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1194px; /* Límite máximo para evitar que se expanda demasiado */
  align-items: center;
  justify-content: space-around;
  overflow-x: auto; /* Permite desplazamiento horizontal si las cards no caben */
  padding: 10px; /* Añade algo de espacio en los bordes */
  gap: 10px; /* Espacio entre las cards */
}


.innerCard {
  width: clamp(120px, 20vw, 147px); /* Ajuste dinámico de la anchura de las cards */
  height: clamp(120px, 20vw, 147px); /* Ajuste dinámico de la altura de las cards */
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; /* Espaciado entre las cards */
}



.pdfIcon {
  margin-left: clamp(10px, 2vw, 25px); /* Ajuste dinámico de los márgenes */
  margin-bottom: clamp(10px, 2vw, 25px); /* Ajuste dinámico de los márgenes */
}

.normalIcon {
  margin-bottom: clamp(3px, 1vw, 10px); /* Ajuste dinámico del margen */
}


.compatibleProgramsContainer {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;

}

.innedOdoo {
  background: #a34589;
}

.innerStripe {
  background: #5d62f3;
}
/* Wrapper with space around and flex alignment */
.wrapper {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: clamp(1rem, 3vw, 3.5rem); /* Ajuste dinámico del padding */
  text-align: center;
  width: 100%;
  flex-wrap: wrap; /* Permite que las cards se ajusten en varias filas si es necesario */
}

/* Individual Card */
.card {
  max-width: clamp(200px, 30%, 280px); /* Tamaño dinámico con clamp */
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px; /* Añadir espacio entre las cards */
}

.card:nth-child(3) {
  max-width: clamp(210px, 32%, 300px); /* Ajuste para la tercera card */
}

/* Step text (Green) */
.step {
  color: #16c098 !important;
  font-size: clamp(16px, 4vw, 22px); /* Ajuste dinámico del tamaño de texto */
  font-weight: 400;
/* Title text */
  color: #18181b;
  font-size: clamp(18px, 5vw, 24px); /* Ajuste dinámico del tamaño de título */
  font-weight: bold;
  margin: 0;
}

/* Subtitle text */
.subtitle {
  color: #71717a;
  font-size: clamp(16px, 4vw, 20px); /* Ajuste dinámico del tamaño de subtítulo */
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
