/* .container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
} */

.compatibleProgramsSection::-webkit-scrollbar {
  display: none;
}

.compatibleProgramsSection {
  margin-top: 30px;
  display: flex;
  width: 55%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
@media (width <= 590px) {
  .compatibleProgramsSection {
    max-height: 400px;
    width: 80%;
    gap: 20px;
  }
}
