@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}
.cookiePopup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f7f7f8;
  padding: 16px;
  border-radius: 8px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  border: 1px solid #ececf1;
}

.cookiePopup p {
  font-size: 15px;
  color: #808080;
  margin: 0;
  a {
    color: #10a37f;
    font-weight: bold;
    text-decoration: none;
  }
}

.cookiePopup .buttons {
  display: flex;
  gap: 8px;
}

.cookiePopup button {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #10a37f;
  color: white;
  flex: 1;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* .cookiePopup button:first-of-type {
  background-color: #f5f5f5;
  color: #71717a;
} */

/* .cookiePopup button:last-of-type {
  background-color: #338874;
  color: #fff;
} */
.about {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: white;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .cookiePopup {
    width: 80vw;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 20px;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}
