@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.reviewsContainer {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  align-items: center;
  width: 100vw;
}
.reviewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startNowSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 50px;
}
.reviewsTitle {
  font-size: clamp(20px, 5vw, 40px) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  color: #18181b;
  text-align: center;
  margin: 0;
}
.reviewsDescription {
  /* font-size: 16px;
  font-weight: 400;
  color: #676767;
  text-align: center;
  width: 80%; */
  color: #676767;
  font-size: clamp(17px, 5vw, 20px) !important;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.CarrouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.reviewsDescriptionSecondary {
  font-size: 22px;
  font-weight: 400;
  max-width: 720px;
  color: #71717a;
  text-align: center;
}

.reviewsDescriptionLast {
  /* font-size: clamp(
    12px,
    1.5vw,
    27px
  ) !important;
  font-weight: 400;
  max-width: 720px;
  margin-top: 5px;
  color: #b8b8b8;
  text-align: center; */
  color: #676767;
  font-size: clamp(17px, 5vw, 20px) !important;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}
.startsFrom {
  font-weight: 700;
  font-size: 36px;
  color: #10a37f;
  display: flex;
  gap: 10px;
  margin-top: 25px;
  div {
    display: flex;
    gap: 10px;
  }
  span {
    color: black;
  }
  span:first-child {
    font-weight: 300;
  }
}
@media (width <= 370px) {
  .startsFrom {
    flex-direction: column;
  }
}
.price {
  font-size: clamp(30px, 12vw, 86px) !important; /* Ajuste dinámico con clamp */
  color: #18181b;
  font-weight: 700;
  margin-bottom: 20px;
  span {
    margin-left: -10px;
    font-size: 46px;
  }
}

.thinSubtitle {
  /* margin-top: 5px;
  font-weight: 300;
  color: #676767;
  font-size: 16px;
  text-align: center; */
  color: #676767;
  font-size: clamp(17px, 5vw, 20px) !important;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.startButton {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background: #10a37f;
  width: 100%;
  max-width: 200px;
  height: 57px;
  min-height: 57px;
  text-decoration: none;
  gap: 15px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  img {
    height: 10px;
  }
}
