.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 999;
}
.dropdownContainer {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  .filterSort {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    .chevronIcon {
      width: 8px;
      height: 8px;
    }
  }
  .dropdownOptions {
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    .dropdownOption {
      padding: 8px 12px;
      font-size: 12px;
      font-weight: 500;
      color: #9c9d9f;
      cursor: pointer;
      transition: background-color 0.2s;
    }
  }
}
