.cpb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #10a37f;
}
.circleProgressBarContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.circular {
  height: 100px;
  width: 100px;
  position: relative;
}
.circular .inner,
.circular .outer,
.circular .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .inner {
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .circle {
  z-index: 1;
  box-shadow: none;
}
.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #10a37f;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 70px, 100px, 0px);
}
.circle .bar .progress,
.dot span {
  background: #10a37f;
}
.circle .left .progress {
  z-index: 1;
  animation: left 2s linear both;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}
.circle .right .progress {
  animation: right 2s linear both;
  animation-delay: 2s;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}

.circle .dot {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 4s linear both; /* Duración ajustada */
  transform-origin: 0% 50%;
  transform: rotate(270deg);
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.pg0 {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
}

.pg1 {
  transform: rotate(100deg) !important;
  -webkit-transform: rotate(100deg) !important;
  -moz-transform: rotate(100deg) !important;
  -ms-transform: rotate(100deg) !important;
  -o-transform: rotate(100deg) !important;
}

.pg2 {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
}

.pg3 {
  transform: rotate(80deg) !important;
  -webkit-transform: rotate(80deg) !important;
  -moz-transform: rotate(80deg) !important;
  -ms-transform: rotate(80deg) !important;
  -o-transform: rotate(80deg) !important;
}
