.buttonTemplate {
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  cursor: pointer;
}

.buttonTemplateGreen {
  background-color: #10a37f;
  color: white;
}

.buttonTemplateDiscard {
  background-color: #b30634;
  color: white;
  cursor: pointer;
}
.buttonTemplateWhite {
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  color: #0d0d0d;
}

.buttonTemplateWhite:disabled {
  /* background-color: #ddddddb0;
  border: 1px solid #cbcbcb68;
  color: #0d0d0d60; */
  opacity: 0.5;
  cursor: not-allowed;
}
