.cardContainer {
  display: flex;
  gap: 50px;
  padding: 16px;
  overflow-x: auto; /* Habilitar scroll horizontal */
  overflow-y: hidden; /* Evitar scroll vertical */
  white-space: nowrap; /* Asegurar que las tarjetas no se envuelvan */
  cursor: grab;
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  width: 100%; /* Asegurar que ocupe el ancho de la pantalla */
  box-sizing: border-box; /* Incluir padding en el ancho total */
  margin: 20px 0;
}

.cardContainer:active {
  cursor: grabbing;
}

.cardContainer,
.card {
  user-select: none; /* Evitar la selección de texto */
}

.card {
  display: inline-block; /* Asegurar que las tarjetas estén en una sola línea */
  min-width: 200px;

  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.cardHeader {
  font-size: 18px;
  font-weight: bold;
  background-color: #13a78470;
  border-radius: 4px;
}

.cardBody {
  margin-top: 8px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  p {
    font-weight: bold;
  }
  p,
  span {
    color: #000000 !important;
    margin: 0;
  }
}

.price {
  font-size: 34px;
  font-weight: bold;
}

.subText {
  font-size: 12px;
}

.button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #233f39;
  color: #fff;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

/* Ocultar barra de navegación (scrollbar) */
.cardContainer::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar en navegadores basados en WebKit */
}

.cardContainer {
  scrollbar-width: none; /* Ocultar scrollbar en Firefox */
}

.selectedCard {
  .cardHeader {
    background-color: #16c098;
    color: white;
  }

  .cardBody {
    p {
      color: #16c098 !important;
    }
  }

  .button {
    background-color: #16c098;
  }
}
