.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9;
}

.sendEmailModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 850px;
  height: 52vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  background-color: #f5f5f5;
  z-index: 999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: scaleUp 300ms ease-out forwards;
  -webkit-animation: scaleUp 300ms ease-out forwards;
  transform: translate(50%, 50%) scale(1);
  -webkit-transform: translate(50%, 50%) scale(1);
  -moz-transform: translate(50%, 50%) scale(1);
  -ms-transform: translate(50%, 50%) scale(1);
  -o-transform: translate(50%, 50%) scale(1);
}
.sendEmailModal::-webkit-scrollbar {
  display: none;
}
.sendEmailHeader {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px;
  .options {
    display: flex;
    gap: 10px;
    align-items: center;
    span {
      color: #222222;
    }
    img {
      cursor: pointer;
    }
    select {
      background-color: white;
      border: 1px solid #bdbdbd;
      padding: 10px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  h2 {
    font-size: 25px;
  }
}

.sendEmailContent {
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.infOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  input,
  textarea {
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 10px;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.addFileEmail {
  display: flex;
  padding: 0 20px;
  height: fit-content;
  gap: 10px;
  p {
    margin: 0 auto;
  }
}

.file {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.addFileRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fileIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 20px;

  .icon {
    height: 30px;
    width: 30px;
  }
}

.attach {
  background-color: #233f39;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.weight {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  color: #666666;
}

.delete {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc3545;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  img {
    height: 10px;
    width: 10px;
  }
}
.addFileEmail .titleFile {
  margin: 20px 0;
  font-weight: 500;
}
.scaleDown {
  animation: scaleDown 300ms ease-in forwards;
  -webkit-animation: scaleDown 300ms ease-in forwards;
}
@keyframes scaleUp {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
  }
}
