body {
    background: #F4F4F4;
}


.select {
    background: #DCDEE2;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border-radius: 8px;
    padding: 4px 8px;

    span {
        font-size: 12px;
        font-weight: 500;
    }

    svg {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
    }

    ul {
        flex-direction: column;
        gap: 10px;
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 10px;
        padding: 10px;

        li {
            display: inline-flex;
            flex-direction: row;

        }
    }

    &.active {
        display: inline-flex;

        ul {
            display: inline-flex;
        }
    }
}



.containerReseller {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .container {
        display: inline-flex;
        align-items: flex-start;
        gap: 30px;
        max-width: 900px;
        margin: 0 auto;
    }
}


.componentHeader {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    padding: 12px;

    .number {
        display: inline-flex;
        flex-direction: column;
        gap: 3px;

        >div {
            display: inline-flex;
            align-items: center;
            gap: 4px;

            svg {
                height: 12px;
                width: 12px;
                min-height: 12px;
                min-width: 12px;

                path {
                    fill: #16C098
                }
            }

            span {
                font-size: 16px;
                font-weight: 500;
            }
        }

        b {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .graph {
        width: 50px;
        height: 50px;
        background: red;
    }
}



.componentLeft {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    height: 100%;


    .box {
        width: 100%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0px 0px 10px -6px black;

        &.active {
            border: 5px solid #16c098;
        }

        .header {
            display: inline-flex;
            justify-content: space-between;

            span {
                font-size: 12px;
                background: #f0f0f0;
                padding: 6px 10px;
                border-radius: 10px;
                font-weight: 500;
            }

            .title {
                font-size: 22px;
                font-weight: 700;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                >div {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .search {
                border: 1px solid #000;
                border-radius: 10px;
                display: inline-flex;
                align-items: center;
                gap: 12px;
                overflow: hidden;
                min-width: 200px;
                padding: 0px 0px 0px 10px;

                svg {
                    min-width: 12px;
                    min-height: 12px;

                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    font-weight: 600;
                }

                button {
                    background: #000;
                    border: none;
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 40px;
                    min-height: 40px;

                    svg {
                        min-width: 16px;
                        min-height: 16px;
                        width: 16px;
                        height: 16px;
                        color: #fff;
                    }
                }
            }
        }

        .filter {
            display: inline-flex;
            justify-content: space-between;

            >div {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
        }

        .itemsLeads {
            display: inline-flex;
            flex-direction: column;
            padding: 0px;
            gap: 10px;

            li {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                padding: 10px;
                cursor: pointer;

                &.active {
                    border: 2px solid green;
                }

                &:hover {
                    border: 2px solid green;
                }

                .title {
                    font-size: 12px;
                }

                .status {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                        min-width: 20px;
                        min-height: 20px;
                    }
                }
            }
        }

        .itemsObjective {
            display: inline-flex;
            gap: 6px;
            padding: 0px;
            flex-direction: column;
            width: 100%;

            li {
                display: inline-flex;
                align-items: center;
                gap: 20px;
                border: 2px solid transparent;
                cursor: pointer;
                padding: 4px 10px;
                border-radius: 10px;

                svg {
                    min-width: 16px;
                    min-height: 16px;
                    width: 16px;
                    height: 16px;

                    path {
                        fill: #c8c8c8;
                    }
                }

                &.active {
                    border: 2px solid #16c098;

                    svg {
                        path {
                            fill: #16c098;
                        }
                    }
                }

                .image {
                    display: inline-flex;
                    flex-direction: column;
                }

                .content {
                    display: inline-flex;
                    flex-direction: column;
                    width: 100%;

                    >div {
                        display: inline-flex;
                        align-items: center;
                        gap: 6px;
                        margin-bottom: 6px;
                    }

                    p {
                        margin: 0px;
                    }
                }

                &:hover {
                    border: 2px solid #16c098;
                }

                label {
                    margin-left: auto;
                    padding: 6px 11px;
                    border-radius: 10px;
                    background: #16c098;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }


        .itemsCall {
            background: transparent;
            list-style: none;
            padding: 0px;

            li {
                width: 100%;
                display: inline-flex;
                flex-direction: column;
                gap: 6px;

                .top {
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    b {
                        font-size: 22px;
                    }

                    .status {
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;

                        &.hight {
                            color: green;
                        }

                        &.medium {
                            color: orange;
                        }

                        &.low {
                            color: red;
                        }
                    }

                    .state {
                        color: red;
                        margin-left: auto;
                    }
                }

                .bottom {
                    display: inline-flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;

                    .status {
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;

                        .date {
                            display: inline-flex;
                            align-items: center;
                            gap: 12px;


                        }

                        .clock {
                            display: inline-flex;
                            align-items: center;
                            gap: 12px;

                        }

                        .time {
                            display: inline-flex;
                            align-items: center;
                            gap: 12px;
                        }

                        svg {
                            min-width: 14px;
                            min-height: 14px;
                            width: 14px;
                            height: 14px;
                        }
                    }

                    .currency {

                        svg {
                            width: 14px;
                            height: 14px;
                            min-width: 14px;
                            min-height: 14px;
                        }
                    }
                }
            }
        }
    }
}


.componentRight {
    display: inline-flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 40px;
    height: calc(100vh - 100px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .twilio {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .buttons {
            display: inline-flex;
            align-items: center;
            gap: 12px;

            button {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                svg {
                    width: 22px;
                    height: 22px;
                    min-height: 22px;
                    min-width: 22px;
                }

                &.pause {
                    background: red;
                }

                &.play {
                    background: yellow;
                }

                &.renaud {
                    background: green;
                }
            }
        }

        span {
            font-size: 12px;
            font-weight: 400;
        }
    }


    .containerRight {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0px 0px 6px -6px #000;

        .titleHeader {
            label {
                font-size: 26px;
                font-weight: 500;
            }
        }

        .status {
            display: inline-flex;
            align-items: center;
            gap: 4px;
        }

        .bussines {
            display: inline-flex;
            flex-direction: column;
            gap: 12px;

            .title {

                label {
                    font-size: 12px;
                    font-weight: 500;
                }

            }

            .status {
                display: inline-flex;
                align-items: center;
                justify-content: row;
                gap: 6px;
                font-size: 12px;

                svg {
                    width: 22px;
                    height: 22px;
                    min-width: 22px;
                    min-height: 22px;
                }

                >div {
                    font-size: 12px;

                    &.hight {
                        color: green;

                    }

                    &.medium {
                        color: orange;

                    }

                    &.low {
                        color: red;
                    }
                }
            }
        }

        .buttons {
            display: inline-flex;
            align-items: center;
            gap: 12px;

            >div {
                display: inline-flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                width: 100%;
                justify-content: center;
                gap: 10px;
                padding: 8px 12px;
                border-radius: 8px;
                background: red;

                &.call {
                    background: #16C098;
                    color: #fff;

                    &:hover {
                        background: rgb(4, 109, 4);
                    }

                    svg {
                        color: #fff;
                    }
                }

                svg {
                    width: 22px;
                    height: 22px;
                    color: #fff;
                }
            }
        }

        .grid {
            display: inline-flex;
            align-items: center;
            gap: 12px;

        }

        .methodPayment {
            label {
                font-size: 12px;
                font-weight: 500;
            }

            ul {
                display: inline-flex;
                flex-direction: column;

                li {
                    display: inline-flex;
                    flex-direction: column;

                    b {
                        font-size: 12px;
                        font-weight: 500;

                    }

                    span {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }

        .items {
            display: inline-flex;
            flex-direction: column;
            gap: 10px;
            padding: 0px;

            li {
                display: inline-flex;
                align-items: flex-start;
                width: 100%;
                gap: 10px;

                svg {
                    min-width: 22px;
                    max-width: 22px;
                }

                b {
                    font-size: 16px;
                    font-weight: 500;
                    color: #6d6d6d;
                }

                textarea {
                    font-size: 20px;
                    font-weight: 500;
                    color: #000;
                    height: 20px;
                    background: red;
                }
            }
        }

        .boxBusiness {
            display: inline-flex;
            flex-direction: column;
            gap: 10px;
            background: #F4F5F8;

            label {
                font-size: 12px;
                font-weight: 500;
            }

            .items {
                display: inline-flex;
                justify-content: space-between;
                flex-direction: column;

                ul {
                    padding-left: 10px;
                    display: inline-flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        display: inline-flex;
                        flex-direction: row;
                        gap: 6px;
                        flex-wrap: nowrap;

                        svg {
                            width: 12px;
                            height: 12px;
                            min-width: 12px;
                            min-height: 12px;
                        }

                        >div {
                            display: inline-flex;
                            align-items: center;
                            gap: 10px;

                            strong {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            b {
                                font-size: 14px;
                                font-weight: 500;
                                color: green;
                            }
                        }
                    }
                }
            }
        }

        .boxInfo {
            display: inline-flex;
            flex-direction: column;
            gap: 10px;
            background: transparent;

            label {
                font-size: 20px;
                font-weight: 600;
            }

            .itemsInfo {
                display: inline-flex;
                flex-direction: column;
                gap: 10px;
                padding: 0px;
                list-style: none;

                .grid {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    align-items: flex-start;
                }

                b {
                    font-size: 12px;
                    font-weight: 500;
                }

                textarea {
                    border: transparent;
                    background: transparent;
                    resize: none;
                    width: 100%;
                    font-size: 12px;
                }
            }
        }

    }
}