.infoContainerWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 0;
  height: 45px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 0;
  div {
    color: #1f184b;
    font-size: 12px;
    font-weight: 500;
  }
  span {
    /* max-width: 360px; */
    color: #1f184b;
    font-size: 12px;
    font-weight: 300;
  }
}
.editableInputHeader {
  p {
    margin: 0;
  }
}

.contentContainer {
  &.active {
    display: block;
  }
  &.disabled {
    display: none;
  }
}
.inputTypeClient {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  min-height: 21px !important;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  &::placeholder {
    color: #757575;
  }
}
.keywordContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;
  .keyword {
    display: flex;
    gap: 9px;
    padding: 3px 12px;
    border-radius: 30px;
    border: 1px solid #e0e3e6;
    align-items: center;
  }
}
.cardTypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;
}
.singleTypeCard {
  display: flex;
  gap: 9px;
  padding: 3px 12px;
  border-radius: 30px;
  border: 1px solid #e0e3e6;
  span {
    font-size: 12px;
    font-weight: 400;
    color: #2a2e32;
    user-select: none;
  }
}
