@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.navHeaderContainer {
  display: flex;
  width: 100%;
  height: 87vh; /* Restar la barra superior (ajusta según sea necesario) */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', sans-serif;
  background-size: cover;
  max-width: 1440px;
  align-self: center;
  margin-top: 50px;
  padding: 20px 0;
  position: relative;
}

.iconfloat {
  background-color: white;
  position: absolute;
  height: 30px; /* Responsive height */
  width: 30px; /* Responsive width */
}

.starIconR {
  top: 23%;
  right: 15%;
  height: 30px;
  width: 30px;
  border: 1px solid #16c098;
  padding: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@media (max-width: 900px) {
  .starIconR {
    top: 20%;
    right: 10%;
  }
}
@media (max-width: 315px) {
  .starIconR {
    display: none;
  }
}

.navHeaderTitle {
  /* font-size: 66px; */
  font-size: clamp(1.5rem, 2.5vw, 11vw); /* Tamaño escalable */
  text-align: center;
  font-weight: 700;
  background: linear-gradient(90deg, #00ffc3 0%, #222222 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #222;
}

.navHeaderSubtitle {
  margin-top: -23px;
  font-weight: 700;
  font-size: clamp(8rem, 9vw, 11vw); /* Tamaño escalable */

  .factura {
    background: linear-gradient(90deg, #16c098 0%, #0a5a47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #16c098;
  }
  .gpt {
    background: linear-gradient(90deg, #0f5443 66%, #222222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #16c098;
  }

  span {
    color: #222222;
  }
}
@media (max-width: 768px) {
  .navHeaderSubtitle {
    font-size: 15vw; /* Tamaño escalable */
  }
}
@media (max-width: 290px) {
  .navHeaderSubtitle {
    margin-top: -40px;
  }
}

.ayFolderImage {
  margin-top: 5px;
  width: clamp(
    240px,
    23vw,
    180px
  ); /* Escala entre 100px y 200px basado en el ancho del viewport */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Evita deformaciones */
}

.navHeaderDescription {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
  color: #000;
  max-width: 728px;
  /* height: 205px; */
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px;
}

.spacedFullDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 92px;
}
.nextSteps {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  gap: 10px;
  margin-bottom: 10px;
  color: #16c098;
  display: flex;
  flex-direction: column;
}

.invoiceGPT {
  font-weight: 700;
  width: 210px;
  font-size: 36px;
  background: linear-gradient(90deg, #16c098 0%, #5c6f37 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.invisibleDiv {
  width: 210px;
}

@media (max-width: 549px) {
}
