@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.navHeaderContainer {
  display: flex;
  width: 100%;
  height: 90vh; /* Restar la barra superior (ajusta según sea necesario) */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/landingBg.svg");
  /* background-color: red; */
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", sans-serif;
  background-size: contain;
  max-width: 1440px;
  align-self: center;
  margin-top: calc(59px + 10px);
  padding: 20px 0;
}

.navHeaderTitle {
  /* font-size: 66px; */
  font-size: 4vw;
  font-weight: 700;
  color: #211f54;
}

.navHeaderSubtitle {
  margin-top: -10px;
  color: #16c098;
  font-weight: 700;
  font-size: clamp(3rem, 7vw, 11vw); /* Tamaño escalable */

  span {
    color: #222222;
  }
}

.ayFolderImage {
  margin-top: 5px;
  width: clamp(100px, 30vw, 200px); /* Escala entre 100px y 200px basado en el ancho del viewport */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Evita deformaciones */
}

.navHeaderDescription {
  font-weight: 500;
  font-size: clamp(20px, 2vw, 21px);
  color: #aeb9ca;
  max-width: 728px;
  /* height: 205px; */
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px;
}


.spacedFullDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 92px;
}
.nextSteps {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  gap: 10px;
  margin-bottom: 10px;
  color: #16c098;
}

.invoiceGPT {
  font-weight: 700;
  width: 210px;
  font-size: 36px;
  background: linear-gradient(90deg, #16c098 0%, #5c6f37 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.invisibleDiv {
  width: 210px;
}
