@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  display: flex;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Inter", serif;
  overflow: hidden;
}

.container > * {
  overflow-y: auto;
  height: 100%;
}
