@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.container {
  font-family: "Poppins", sans-serif;
  flex: 1;
  width: 100%;
  /* padding: 0px 24px; */
  /* background-color: #f9f9f9; */
  /* height: 100vh; */
}

.statsContainer {
  display: flex;
  background-color: #f5f5f5;
  min-height: 80px;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* flex-wrap: wrap; */
  padding-top: 40px;

  /* flex-wrap: wrap; */
  &::-webkit-scrollbar {
    display: none;
  }
}

.listRight {
  background: linear-gradient(90deg, #11a380 0%, #0c6d56 100%);
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.statCard {
  /* background: #ffffff; */
  display: flex;
  margin-bottom: 24px;
  height: 120px;
  align-items: flex-start;
  border-right: 1px solid #f0f0f0;
  margin-right: 24px;
  gap: 4px;

  &:last-child {
    margin-right: 0px;
  }
}

.statCard:first-child {
  padding-left: 0px;
}

.statCard:last-child {
  border-right: 1px solid transparent;
}

.statContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  min-width: 150px;
  max-width: 160px;
}

.statTitle {
  font-size: 14px;
  color: #b5b7c0;
  font-weight: 500;
  margin-bottom: 4px;
}

.statValue {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #292d32;
}

.statChange {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  /* margin-top: 20px; */
}

.statChange svg {
  font-size: 20px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.positive {
  color: #233f39;
}

.negative {
  color: #d0004b;
}

.avatars {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.avatars img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  margin-left: -8px;
  border: 2px solid #ffffff;
}

.tableSection {
  background: #ffffff;
  /* border-radius: 30px; */
  padding: 24px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); */
}

.changeTabButton {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  width: max-content;
  background: linear-gradient(90deg, #11a380 0%, #0c6d56 100%);
  color: #ffffff;
  outline: none;
  height: 20px;
  border: none;
  border-radius: 7px;
  min-width: 90px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.tableTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
  margin-top: -9px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.filterItem {
  padding: 0px 10px;
  height: 32px;
  background: #f8f9fa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  fill: #fff;
}

.filterItemActive {
  background: #fff;
  fill: #16c098;
}

.filterSearch {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  gap: 8px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  height: 40px;
  padding-left: 12px;
}

.filterSearch input {
  border: none;
  outline: none;
  background: none;
  font-size: 12px;
  font-weight: 400;
  color: #b5b7c0;
  flex: 1;
}

.filterSort {
  font-size: 14px;
  font-weight: 500;
  color: #292d32;
}

.tableContainer {
  width: 100%;
  border-spacing: 0;
}

.tableHeader,
.tableRow {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
}

.tableHeader {
  background: #fafafa;
  border-radius: 3px;
  color: #484848;
  font-weight: 500;
  font-size: 14px;
}

.tableRow {
  color: #292d32;
  border-bottom: 1px solid #eeeeee;
}

.tableRow:last-child {
  border-bottom: none;
}

.columnName {
  flex: 0.15;
}

.columnStatus {
  flex: 0.13;
}

.columnContact {
  flex: 0.1;
}

.columnTokens {
  flex: 0.22;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.gapDiv {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw * 0.17);
}

.columnEmail {
  flex: 0.15;
}

.columnRecognitions {
  flex: 0.15;
  text-align: center;
}

.columnPort {
  flex: 0.05;
  color: #16c098;
  text-align: center;
}

.columnActive {
  flex: 0.05;
  text-align: center;
}

.icon {
  width: 16px;
  height: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #16c098;
}

input:checked+.slider:before {
  transform: translateX(14px);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 14px;
  color: #b5b7c0;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageNumber {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  color: #292d32;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
  border-radius: 50%;
  background: linear-gradient(to right, #d8ffea 0%, #effff6 37%, #effff6 100%);
}

.pageNumber:hover {
  background-color: #f8f9fa;
}

.chevron {
  color: #b5b7c0;
  cursor: pointer;
}

.tableTopContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.tableHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.addClientButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(90deg, #11a380 0%, #0c6d56 100%);
  color: #ffffff;
  outline: none;
  padding: 0px 10px;
  height: 42px;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.tableSpan {
  color: #16c098;
  font-size: 14px;
  font-weight: 400;
}

.calendarFilterContainer {
  display: flex;
  border-radius: 10px;
  background: #f9fbff;
  padding: 5px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.filterSort {
  font-size: 12px;
  font-weight: 400;
  color: #7e7e7e;
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0px 12px;
  width: 240px;
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.filterSort b {
  font-weight: 600;
  color: #3d3c42;
  margin-left: 6px;
}

.chevronIcon {
  margin-left: auto;
  color: #292d32;
}

.dropdownOptions {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.dropdownOption {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: #9c9d9f;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownOption:hover {
  background-color: #f0f2f8;
}

.noResultsMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  color: #838485;
  font-size: 18px;
}

.redButton {
  width: 100px;
  background-color: #ff5c5c;
  color: #ffffff;
  font-size: 11px;
  height: 30px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 5px;
}

.greenButton {
  width: 100px;
  background: linear-gradient(90deg, #11a380 0%, #0c6d56 100%);

  color: #ffffff;
  font-size: 11px;
  height: 30px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 5px;
}

.homeContainer {
  width: 100%;
}

.statisticsHeader {
  display: flex;
  width: 100%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  gap: 20px;

  p {
    margin: 0;
  }

  .statisticCard {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .title {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .icon {
      cursor: pointer;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }
  }

  span {
    color: #a6a6a6;
    font-weight: bold;
    text-transform: uppercase;
  }

  .statisticTotal {
    font-size: 30px;
    text-align: end;
    font-weight: bold;
  }
}

@media screen and (max-width: 1024px) {

  .statisticsHeader,
  .homeContent {
    flex-direction: column;
  }
}

.divider {
  width: 100%;
  height: 8px;
  background-color: #e7ffe7;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

.talkWithFacturaGPT {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #10a37f;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  .icon {
    height: 30px;
    width: 30px;
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #10a37f;
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-weight: bold;

    span {
      color: #10a37f;
      font-weight: bold;
    }
  }
}

.homeContent {
  display: flex;
  padding: 20px;
}

.salesSummaryContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}

.salesSummary {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.salesSummaryHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  span {
    color: #a6a6a6;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.salesSummaryTotal {
  p {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
  }

  span {
    color: #a6a6a6;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.salesSummaryOptions {
  display: flex;
  gap: 10px;
  align-items: center;

  span {
    text-transform: initial;
    font-size: 16px;
    color: #00000035;
  }
}

.monthsContainer {
  display: flex;
  gap: 10px;

  p::before {
    content: "";
    height: 2px;
    /* Ajustado a 5px */
    width: 100%;
    background-color: #2b0e50;
    /* Cambiado a azul */
    display: block;
    position: absolute;
    top: 0px;
  }

  p {
    margin: 0;
    padding-top: 10px;
    position: relative;
  }
}

.expenseAccounts {
  flex: 1;
}

.expenseAccounts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin: 0;
  }

  .spent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: #000000;
        font-weight: bold;
      }
    }

    span {
      color: #22024b;
      min-width: 150px;
    }
  }
}

.expenseAccountsOptions {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  span {
    text-transform: initial;
    font-size: 16px;
    color: #00000035;
    font-weight: bold;
  }
}

.expenseAccountsHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .month {
    color: #a6a6a6;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
}