.header {
  display: flex;
  justify-content: space-between;
}

.headerMail {
  display: flex;
  align-items: center;
  justify-content: start;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 27px;
  width: 30px;
  /* padding: 2px; */
  /* box-sizing: border-box; */
}

.addConnection {
  color: #159b7c;
  cursor: pointer;
}
