.newTagHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  padding: 15px;
  padding-right: 25px;
  img {
    width: 15px;
    cursor: pointer;
  }
}
