.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.addTaxContainer {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.opacity {
  display: none;
}
.addTaxContent {
  padding: 20px;
  input[type='checkbox'] {
    accent-color: #10a37f;
  }
  .taxes {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    input {
      background-color: #f5f5f5;
      border: none;
      outline: none;
      padding: 8px 10px;
    }
    .compuesto {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    > div {
      flex: 1;
    }
    .columnLeft {
      flex: 2;
    }
  }
  table {
    border-collapse: collapse; /* Asegura que no haya separación entre las celdas */
    width: 100%;
  }
  table thead {
    font-size: 13px;
  }

  .small {
    min-width: 10px;
    max-width: 30px;
  }
  .selectedRow {
    background-color: #eeeeef;
  }
  .tableTaxes {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 30px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      text-decoration: underline;
      font-weight: 700;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .taxesBtnContainer {
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
    button {
      background-color: white;
      border: 1px solid #e3e3e3;
      padding: 10px 13px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      cursor: pointer;
    }

    .btnSelect {
      background-color: #233f39;
      color: white;
    }
  }
}
