@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  display: flex;
  height: 93vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Inter", serif;
  position: relative;
}

.asideBar {
  /* background-color: #fafafa; */
  background: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  height: calc(100vh - 50px);
  box-sizing: border-box;
  top: 0;
  z-index: 2;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  position: initial;
  left: 0;
}

.mobileMenu {
  position: absolute;
  width: 100vw;
}

.offAsideBar {
  left: -100%;
}

.chatSection {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background: #f5f5f5;
}

.inputContainer {
  width: 100%;

  input[type="file"] {
    display: none;
  }

  label {
    height: 100%;
    width: 100%;
    color: #646e8a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/**/

.chatContainer {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #ececf1;
  overflow: hidden;

  ul {
    list-style-type: disc;
  }

  .messageContainer::-webkit-scrollbar {
    display: none;
  }

  .messageContainer {
    width: 80%;
    overflow-y: scroll;
    max-height: 90%;
    height: 100%;
    margin: 0px auto;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;

    .messageSettings {
      text-align: center;
      margin-top: 40px;

      strong {
        font-weight: 600;
      }
    }
    .facturaGPTLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      img {
        width: 100px;
      }
    }
  }

  .chatTextContainer {
    width: 100%;
    position: sticky;
    bottom: 0px;
    left: 0;
    background-color: white;
    padding: 10px 0;
  }

  .chat {
    width: 80%;
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    padding-right: 4px;
    left: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;

    textarea::-webkit-scrollbar {
      display: none;
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      padding-left: 20px;
      resize: none;
      font-family: "Inter", serif;
      padding-top: 15px;
    }

    textarea::placeholder {
      font-family: "Inter", serif;
    }

    .img {
      background-color: #073f31;
      height: 40px;
      min-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
    }
  }

  .errorAlert {
    color: #5d5d5d;
    font-size: 12px;
    text-align: center;
  }

  .facturaGPTMessage {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 40px;

    p {
      margin-top: 0;
    }

    img {
      width: 30px;
    }

    font-size: 13px;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 86%;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 20px;

    button {
      background-color: #fff;
      color: #676767;
      border: 1px solid #00000036;
      padding: 8px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.message {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  /* Estilo común para todos los mensajes */
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #16c09821;
    color: #16c098;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }
}

.userMessage {
  text-align: right;
  justify-content: flex-end;
  /* Mensajes del usuario a la derecha */
}

.botMessage {
  text-align: left;
  /* Mensajes del bot a la izquierda */
}

.chatMenu {
  background: #f5f5f5;
  height: 100%;
  width: 100%;
  /* max-width: 200px; */
  min-width: 200px;

  .chatsContainer {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none;
    }

    h3 {
      font-weight: 600;
      margin: 0;
      font-size: 10px;
      color: #000000;
    }

    ul {
      padding-left: 0px;
      margin: 2px 0px;

      li {
        list-style: none;
        padding: 6px 0px;
        font-size: 12px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .icon {
        opacity: 0;
      }

      li:hover .icon {
        opacity: 1;
      }
    }

    .active {
      background-color: #ececf1;
      padding: 6px 8px;
    }
  }
}

@media (width <=768px) {
  .chatMenu {
    .chatsContainer {
      height: 65vh;
    }
  }

  .searchInputWrapper {
    display: flex;
    align-items: center;
    background: #fff;
    height: 36px;
    min-height: 36px;
    border: 1px solid #d9d9e3;
    border-radius: 8px;
    padding: 0px 9px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;

    .searchIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      color: #666;
    }

    .searchInput {
      flex: 1;
      padding: 8px;
      border: none;
      background: transparent;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: #666;
      }
    }
  }
}

.chatMenuSettings {
  position: relative;

  button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.menuOptions {
  flex-direction: column;
  gap: 10px;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  top: 23px;
  z-index: 999;
  padding: 4px;
  border-radius: 8px;
  background: #fafafa;
  /* background: red; */
  /* border: 1px solid #d9d9e3; */
  /* max-width: 200px;
  width: 200px; */
  /* display: none; */
  /* height: 100%; */
  /* &.active {
    display: flex;
  } */

  li {
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;

    .chatMenuSettingsIcon {
      position: relative;

      button {
        width: 16px;
        height: 16px;
        color: #000;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
        }
      }

      ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        li {
          padding: 10px;
          border-radius: 10px;
          background: #fff;
          cursor: pointer;
          cursor: pointer;
        }
      }
    }
  }
}

.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #ececf1;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.searchContainerL {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;

  img {
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
  }
}

.noChats {
  flex: 1 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #3a3a3a;
  gap: 10px;
  font-weight: 600;
  justify-content: center;
  padding-top: 0;
  max-height: 85%;
  height: 100%;
  text-align: center;
  p {
    margin: 0;
    font-size: 14px;
  }
}
