.wrapper {
  width: 100%;
  border: 1px solid #ececf1;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  background: #fff;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 10px;
}
