.chatContainer {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  .messageContainer::-webkit-scrollbar {
    display: none;
  }
  .messageContainer {
    width: 100%;
    overflow-y: scroll;
    max-height: 90%;
    height: 100%;
    .messageSettings {
      text-align: center;
      margin-top: 40px;
      strong {
        font-weight: 600;
      }
    }
  }

  .chatTextContainer {
    width: 100%;
    position: sticky;
    bottom: 20px;
    left: 0;
    background-color: white;
    padding: 10px 0;
  }

  .chat {
    width: 80%;
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    padding-right: 20px;
    left: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;
    textarea::-webkit-scrollbar {
      display: none;
    }
    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      padding-left: 20px;
      resize: none;
      padding-top: 15px;
    }

    .img {
      background-color: #073f31;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
    }
  }
  .errorAlert {
    color: #5d5d5d;
    font-size: 12px;
    text-align: center;
  }
  .facturaGPTMessage {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 40px;
    p {
      margin-top: 0;
    }
    img {
      width: 30px;
    }
    font-size: 13px;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 20px;
    button {
      background-color: #fff;
      color: #676767;
      border: 1px solid #00000036;
      padding: 8px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.message {
  /* Estilo común para todos los mensajes */
}

.userMessage {
  text-align: right; /* Mensajes del usuario a la derecha */
}

.botMessage {
  text-align: left; /* Mensajes del bot a la izquierda */
}
