@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.container {
  display: flex !important;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 80px;
  background: linear-gradient(180deg, #ffffff 21%, #f5f5f5 100%);
}
.content {
  display: flex;
  width: 63%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input,
  textarea {
    width: 100%;
  }
}

/* Left Section */
.leftSection {
  width: 100%;
}

.title {
  font-size: clamp(35px, 5vw, 55px) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  color: #18181b;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: clamp(12px, 3vw, 22px) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  color: #676767;
  margin-bottom: 2rem;
}

/* Form Inputs */
.inputGroup {
  margin-bottom: 1rem;
  width: 100%;
  flex: 1;
}
.inputGroupContainer {
  display: flex;
  width: 100%;
  gap: 30px;
}
@media (max-width: 468px) {
  .inputGroupContainer {
    flex-direction: column;
    gap: 2px;
  }
}

label {
  display: block;
  font-size: 14px;
  color: #18181b;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  width: 100%;
  min-width: 200px;
  outline: none;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  font-size: 14px;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #71717a;
  box-sizing: border-box;
  &:focus {
    border: 2px solid #dadbdd;
  }
}

.input {
  height: fit-content;
}

.textarea {
  height: 120px;
  resize: none;
}

/* Button */
.button {
  background-color: #233f39;
  color: #fff;
  border: none;
  border-radius: 30px;
  min-height: 53px;
  height: 53px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 30px;
}

.buttonForm {
  height: 48px;
  min-height: 48px;
  padding: 4px 35px;
}

.wsBtn {
  /* background: linear-gradient(45deg, #3ad656, #5bf876); */
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  margin-top: 40px;
  width: 65%;
  color: #676767;
  font-weight: 500;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &:hover {
    background-color: #fafafa;
  }
}

.infoContact,
.infoText.infoText a {
  color: #71717a;
}
.infoText {
  /* color: #222; */
}
.keepInformed {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #71717a;
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #233f39; /* Cambia el color del check */
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 80%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #11a38125;
  margin: 0 10px;
}

.circle {
  width: 20px;
  height: 20px;
  color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right Section */
.rightSection {
  flex: 1;
  display: flex;
}

.handIcon {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
}

@media (max-width: 860px) {
  .content {
    width: 99%;
  }

  .leftSection {
    width: 100%;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 93%;
      .inputGroup {
        width: 100%;
      }
    }
  }

  .rightSection {
    display: none;
  }
}

@media (max-width: 860px) {
  .button {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .wsBtn {
    /* display: block; */
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.leftImage,
.rightImage {
  width: 50px; /* Adjust size as needed */
  height: auto;
}
.rightImage {
  transform: scaleX(-1);
}
.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

.statusMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  animation: fadeInOut 3s forwards;
  z-index: 1000;
}

.success {
  background-color: #4caf50; /* Verde */
}

.error {
  background-color: #f44336; /* Rojo */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.startNowSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0 10px;
}
.reviewsTitle {
  font-size: clamp(20px, 5vw, 50px) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  color: #18181b;
  text-align: center;
  margin-bottom: 10px;
}
.reviewsDescription {
  font-size: clamp(17px, 5vw, 20px);
  font-weight: 400;
  max-width: 574px;
  color: #676767;
  text-align: center;
  width: 80%;
}

.reviewsDescriptionLast {
  font-size: clamp(
    12px,
    1.5vw,
    27px
  ) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  max-width: 720px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #676767;
  text-align: center;
}
.startsFrom {
  font-weight: 700;
  font-size: 36px;
  color: #10a37f;
  display: flex;

  gap: 10px;
  span {
    color: black;
  }
  span:first-child {
    font-weight: 300;
  }
}
.price {
  font-size: clamp(30px, 12vw, 86px) !important; /* Ajuste dinámico con clamp */
  color: #18181b;
  font-weight: 700;
  margin-bottom: 20px;
  span {
    margin-left: -10px;
    font-size: 46px;
  }
}

.startButton {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background: #10a37f;
  width: 100%;
  max-width: 360px;
  height: 57px;
  min-height: 57px;
  text-decoration: none;
  gap: 15px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  img {
    height: 10px;
  }
}
