@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.container {
  display: flex !important;
  font-family: 'Inter', sans-serif;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 150px;
}
.content {
  display: flex;
  width: 63%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input,
  textarea {
    width: 100%;
  }
}

/* Left Section */
.leftSection {
  width: 100%;
}

.title {
  font-size: clamp(35px, 5vw, 32px) !important; /* Ajuste dinámico con clamp */
  font-weight: bold;
  color: #18181b;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: clamp(6px, 4vw, 30px) !important; /* Ajuste dinámico con clamp */
  font-weight: 400;
  color: #18181b;
  margin-bottom: 2rem;
}

/* Form Inputs */
.inputGroup {
  margin-bottom: 1rem;
  width: 100%;
}

label {
  display: block;
  font-size: 14px;
  color: #71717a;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  width: 100%;
  outline: none;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  font-size: 14px;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #71717a;
  box-sizing: border-box;
  &:focus {
    border: 2px solid #dadbdd;
  }
}

.input {
  height: fit-content;
}

.textarea {
  height: 120px;
  resize: none;
}

/* Button */
.button {
  background-color: #233f39;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 50%;
  min-height: 53px;
  height: 53px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #13a583;
}

/* Right Section */
.rightSection {
  flex: 1;
  display: flex;
}

.handIcon {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .content {
    width: 99%;
  }

  .leftSection {
    width: 100%;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 93%;
      .inputGroup {
        width: 100%;
      }
    }
  }

  .rightSection {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.leftImage,
.rightImage {
  width: 50px; /* Adjust size as needed */
  height: auto;
}
.rightImage {
  transform: scaleX(-1);
}
.textContainer {
  text-align: center;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}
