:root {
  --green: #2ebc8834;
}
.billContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
  h2 {
    margin: 0;
  }
}
.headerBill {
  display: flex;
  justify-content: space-between;

  .column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    span {
      color: #5e6470;
    }
  }
}

.billedTo {
  display: flex;
  justify-content: space-between;
}

.billedToLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  p,
  h3 {
    margin: 0;
  }
  span {
    color: #5e6470;
  }
}

.billedToRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.billedToDate,
.billedToReference {
  display: flex;
  justify-content: space-between;
}

.billedToDate {
  background-color: var(--green);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 40px 40px 0 40px;
  -webkit-border-radius: 40px 40px 0 40px;
  -moz-border-radius: 40px 40px 0 40px;
  -ms-border-radius: 40px 40px 0 40px;
  -o-border-radius: 40px 40px 0 40px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      color: #5e6470;
    }
  }

  p {
    margin: 0;
  }
}

.billedToReference {
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      color: #5e6470;
    }
  }

  p {
    margin: 0;
  }
}

.tableBill {
  width: 100%;
  box-sizing: border-box;
  table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    min-width: 20px;
    font-size: 13px;
    width: fit-content;
  }

  tr,
  td {
    border: none;
  }

  tr {
    border-bottom: 1px solid #e0e0e0;
  }

  td {
    border-bottom: 1px solid #e0e0e0;
    font-weight: 500;
    color: #1a1c21;
    text-align: center;
    span {
      color: #5e6470;
    }
  }
  td:first-child {
    text-align: start;
  }

  th {
    color: #5e6470;
  }
}

.taxes {
  width: 100%;
  display: flex;
  justify-content: end;

  .taxesBody {
    padding: 10px 20px;
  }

  .taxesContent {
    background-color: var(--green);
    /* padding: 20px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 0 30px 0 0;
    -webkit-border-radius: 0 30px 0 0;
    -moz-border-radius: 0 30px 0 0;
    -ms-border-radius: 0 30px 0 0;
    -o-border-radius: 0 30px 0 0;
    gap: 10px;

    .total {
      border-top: 1px solid #e0e0e0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      .totalBtn {
        width: 100%;
        box-sizing: border-box;
        background-color: #2ebc89;
        color: white;
        border-radius: 99px;
        -webkit-border-radius: 99px;
        -moz-border-radius: 99px;
        -ms-border-radius: 99px;
        -o-border-radius: 99px;
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;

        p {
          font-weight: 600;
          font-size: 18px;
          margin: 0;
        }
      }
    }
    .row {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }
  }
}
