.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.title {
  font-size: clamp(15px, 5vw, 35px) !important; /* Ajuste dinámico con clamp */
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.subtitle {
  font-size: clamp(25px, 3vw, 30px) !important; /* Ajuste dinámico con clamp */
  color: #256355 !important;
  font-weight: 600;
  margin-bottom: 20px;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative; /* Agregar esta propiedad */
  z-index: 2; /* Aseguramos que el slider esté encima de otros elementos */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #16c098;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #16c098;
  border-radius: 50%;
  cursor: pointer;
}

.labels {
  position: relative;
  margin-top: 10px;
  height: 40px;
}

.mark {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
  transform: translateX(-50%);
}

.connector {
  width: 2px;
  height: 17px;
  background-color: #16c098;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #555;
  white-space: nowrap;
}

.output {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
