@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content::-webkit-scrollbar {
  display: none;
}
.content {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  overflow: hidden;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}
.formAutomateContainer {
  border: 1px solid #ececf1;
  padding: 8px 20px;
  border-radius: 8px;
  background: #fff;
  overflow-y: auto;
  height: 80vh;
  select {
    padding: 0;
  }
}
.formAutomateContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.formAutomateContainer::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 12px;
}
.formAutomateContainer::-webkit-scrollbar-track {
  background: #fff;
}
.body {
  display: grid;
  grid-template-columns: 240px 2fr;
  background: #f5f5f5;
}
.leftContainer {
  background: #f5f5f5;
  padding: 0px 10px;
  overflow-y: auto;
  height: calc(80vh - 105px);
}
.leftContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.leftContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
}
.leftContainer::-webkit-scrollbar-track {
  background: transparent;
}
/* .body > div:first-child {
  padding-right: 24px;
} */

.content_header {
  /* width: 80%; */
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.buttons_header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.button_header {
  border-radius: 8px;
  border: none;
  height: 38px;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b4b4b4;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500 !important;
  cursor: pointer;
}

.button_header_active {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #0d0d0d;
}

.container_buttons_footer {
  display: flex;
  justify-content: end;
  height: 52px;
  display: flex;
}

.buttons_footer {
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
}

.button_back {
  border: 1px solid #cbcbcb;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  font-weight: 500;
}

.button_add {
  border: none;
  background-color: #233f39;
  color: white;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  gap: 22px;
  background-color: #f5f5f5;
  justify-content: flex-end;
  align-items: center;
}

.buttons_footer {
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0px 24px;
}

.button_back {
  border: 1px solid #cbcbcb;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.button_add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #10a37f;
  color: white;
  display: flex;
  gap: 22px;
  font-size: 16px;
  font-weight: bold;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  height: 64px;
  min-height: 64px;
  padding: 0px 20px;
}
.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  gap: 18px;
  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
  }
}
.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
  border-radius: 4px;
  background: #f6f6f6;
  user-select: none;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  user-select: none;
  background: #10a37f;
}
