.DetailsBillInputs {
  width: 100%;
  input {
    outline: none;
    border: none;
    background-color: #f4f4f4;
    color: #757575;
    padding: 12px;
    box-sizing: border-box;
  }
  input::placeholder {
    color: #757575;
  }
}
.row {
  width: 100%;
}
.containerColumn {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  > div {
    flex: 1;
    box-sizing: border-box;
  }
}
