.activity {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  min-height: fit-content;
  border-radius: 8px;
  padding: 10px 30px;
  border: 1px solid #ececf1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  p {
    margin: 0;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 16px;
      height: 16px;
    }
  }

  .date {
    display: flex;
    width: 100%;
    justify-content: end;
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 13px;
    color: #222222;
    gap: 10px;
  }
}

.activityHeader {
  transition: height 0.3s ease;
  overflow: hidden;
  interpolate-size: allow-keywords;
  display: flex;
  justify-content: end;
  gap: 10px;
  /* margin-bottom: 10px; */
  span {
    font-weight: 600;
    color: #7b7575;
    cursor: pointer;
  }
}
.notificationItem {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
.activityHeaderDocument {
  flex-direction: column;

  .options {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
    align-items: center;
  }
}
.seeMail {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: underline;
}
.gray {
  color: #7b7575;
  font-weight: 600;
  cursor: pointer;
}
.green,
.seeMail,
.delete {
  color: #04614b;
  font-weight: 600;
  cursor: pointer;
}
.delete {
  color: rgb(253, 71, 71);
  text-decoration: underline;
}
.documentDate {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.documentHeader {
  .headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #18181b;
  }
}
