.btnTimerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 10px;
  .btnTimer {
    display: flex;
    height: 70px;
    min-width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: none;
    box-shadow:
      0px 2px 12px 0px rgba(0, 0, 0, 0.2),
      0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    cursor: pointer;
  }
  .btnPlay {
    background: #00b67a;
  }
  .btnPause {
    background: #072146;
  }
  .btnStop {
    background: #f00;
  }
  p {
    width: 70px;
  }
}
