@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.pricingCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 522px;
  font-family: "Inter", sans-serif;
  margin: 20px auto;
  padding: 0 16px;
}

/* Pricing Box */
.pricingBox {
  width: 100%;
  max-width: 319px;
  border: 1px solid rgba(11, 6, 255, 0.14);
  border-radius: 32px 32px 0px 0px;
  text-align: center;
  padding: 24px;
  padding-bottom: 15px;
  border-bottom: none;
  margin-bottom: -1px;
}

.price {
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  color: #18181b;
}

.perMonth {
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 400;
  color: #555454;
}

.docPrice {
  font-size: clamp(18px, 5vw, 22px);
  font-weight: 400;
  color: #71717a;
  margin: 4px 0;
}

.priceTag {
  font-weight: 400;
  font-size: clamp(18px, 5vw, 22px);
  color: #71717a;
}

.planDetails {
  padding: 24px 10px 24px 0;
  width: 80%;
  max-width: 522px;
  background-color: #f0f2f5;
  border-radius: 32px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .planDetails {
    padding: 32px;
  }
  .pricingBox {
    padding: 32px;
  }
}

.planTitle {
  font-size: clamp(28px, 6vw, 36px);
  font-weight: 600;
  color: #18181b;
  margin-bottom: 24px;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureItem {
  font-size: clamp(12px, 3.5vw, 14px);
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #555454;
  margin-bottom: 9px;
}

/* Button */
.button {
  width: 100%;
  background-color: #22463d;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  padding: 12px 20px;
}

.button:hover {
  background-color: #163328;
}

/* Small screens */
@media (max-width: 576px) {
  .pricingCardContainer {
    margin: 10px auto;
  }

  .planDetails {
    border-radius: 24px;
  }

  .pricingBox {
    border-radius: 24px 24px 0 0;
    width: 90%;
  }
}
