.content {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  height: 74px;
  user-select: none;
}

.content:hover {
  background-color: #fafafa;
}

.content_active {
  background-color: #ececf1;
}
.content_panel {
  background: transparent;
  border-radius: 4px;
  height: 44px;
  padding: 0 10px;
}
.content_panel:hover {
  background-color: #ececf1;
}

.data_contain {
  display: flex;
  align-items: center;
  gap: 18px;
}

.image {
  width: 28px;
  height: 28px;
}

.automate_name {
  font-size: 14px;
}

.contact {
  margin-top: 0;
  color: #71717a;
}

.buttons_contains {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  button {
    cursor: pointer;
    user-select: none;
  }
  div {
    cursor: pointer;
    user-select: none;
  }
}

.button_edit {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
}
