.landingContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #f5f5f5;
  overflow-y: auto;
}

section {
  /* margin-top: 200px; */
  min-height: 100vh;
  /* max-height: 1760px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (width >1800px) {
  section {
    min-height: 30vh;
  }
}
