.container {
  max-width: 325px;
  /* min-width: 260px; */
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  /* @media (width <= 768px) {
    & {
      display: none;
      position: fixed;
      width: 100%;
      max-width: 100%;
    }
  } */
}

.container::-webkit-scrollbar {
  display: none;
}
@media (width <= 768px) {
  .container {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    z-index: 2;
  }
}
.previewSection {
  border: 2px dashed #e5e7eb;
  border-radius: 12px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  margin-bottom: 20px;
  position: relative;
  /* overflow: hidden; */
  /* padding: 20px; */
}

.billContainerPreview {
  height: 300px;
}

.documentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px 10px 20px 20px;
  -webkit-border-radius: 10px 10px 20px 20px;
  -moz-border-radius: 10px 10px 20px 20px;
  -ms-border-radius: 10px 10px 20px 20px;
  -o-border-radius: 10px 10px 20px 20px;
}

.visualizar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #9e9e9e;
  text-align: center;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -ms-transition: opacity 100ms;
  -o-transition: opacity 100ms;
}
.previewSection:hover {
  .visualizar {
    opacity: 1;
  }
}
.documentImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.menuButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menuIcon {
  width: 20px;
  height: 20px;
  color: #6b7280;
}

.emptyPreview {
  color: #9ca3af;
  font-size: 0.875rem;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  cursor: pointer;
}

.labelsWrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 24px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.labelsWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.labelsContainer {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
}

.labelDark,
.labelBlue,
.labelRed,
.labelGreen,
.labelPurple {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  width: 81px;
  height: 31px;
  text-align: center;
}

.labelDark {
  background-color: #111827;
  color: white;
}

.labelBlue {
  background-color: #2563eb;
  color: white;
}

.labelRed {
  background-color: #dc2626;
  color: white;
}

.labelGreen {
  background-color: #059669;
  color: white;
}

.labelPurple {
  background-color: #7c3aed;
  color: white;
}

.actionsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.buttonActionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;

  button,
  a {
    font-size: 12px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fafafa;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    color: black;
  }
  .btnWithText {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: bold;
  }
  .bgStripe {
    background: linear-gradient(45deg, #5f64f8 0%, #5054d9 100%);
    justify-content: center;
    img {
      height: 20px;
    }
  }

  .hubspot {
    background: #ff7a59;
    justify-content: center;
    img {
      height: 20px;
    }
  }
  .bgGestiona {
    background: linear-gradient(45deg, #ee7a01 43%, #ffa927 100%);
    justify-content: center;
    img {
      height: 20px;
    }
  }

  .bgStripe[disabled] {
    background: linear-gradient(45deg, #5f64f853 0%, #5054d953 100%);
    cursor: not-allowed;
  }
  .hubspot[disabled] {
    cursor: not-allowed;
    background: #ff7a5953;
  }
  .bgGestiona[disabled] {
    cursor: not-allowed;
    background: linear-gradient(45deg, #ee7a0153 43%, #ffa92753 100%);
  }
}
.dragOver {
  border: 2px dashed #3b82f6;
  background-color: #e0f2fe;
}
.actionsContainer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  align-items: center;
  button {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #b4b4b4;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .btnActionSelected {
    background-color: white;
    color: black;
    border: 1px solid #00000052;
  }
}

.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnTemplateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerEditableInput {
  padding: 0px 10px 10px;
  border: 1px solid #ececf1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffff;

  .state {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stateStripeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.searchContainerIcon {
  background-color: #ececf1;
  padding: 4px;
  border-radius: 4px;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #ececf1;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.headerBillMobile {
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #292d32;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 184.615% */
    cursor: pointer;
  }

  .notesHeaderBillMobile {
    display: flex;
    align-items: center;
    gap: 10px;

    .note {
      display: flex;
      padding: 0px 5px;
      align-items: flex-start;
      gap: 3px;
      border-radius: 5px;
    }

    button {
      color: #929598;
      font-family: Inter;
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 225% */
    }
  }
}

.verticalOptionDots {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.button {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

.note {
  background-color: #c2f2d3;
  border: 1px solid #0000001d;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .text {
    min-height: 40px;
    height: fit-content;
    max-height: 100px;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  span,
  input {
    /* padding: 8px; */
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 13px;
  }
  input {
    background-color: #9bd8b1fd;
    border: none;
  }
}

.tagWhite {
  background-color: #ffffff;
}
.tagRed {
  background-color: #f2c6c2;
}
.tagOrange {
  background-color: #f2cfc2;
}
.tagYellow {
  background-color: #f2e3c2;
}
.tagGreen {
  background-color: #c2f2d3;
}
.tagBlue {
  background-color: #c2d8f2;
}
.tagViolet {
  background-color: #d7c5f6;
}
.tagPink {
  background-color: #f0c2f2;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      width: 16px;
      height: 22px;
    }
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: underline;
    color: #222222;
    font-weight: bold;
  }
  button:disabled {
    color: #b4b4b4;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.dropdownContainer {
  display: flex;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #11a3813c;
}

.dropdownCurrencyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContent {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #084437;
  width: 100%;
  border-radius: 8px;
  padding: 6px;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #f4f4f4;
  outline: none;
}

.title::placeholder {
  color: #71717a;
}
