.historyContainer::-webkit-scrollbar {
  display: none;
}
.historyContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 80vh;

  overflow-y: scroll;
  background-color: white;
  transform: translate(-50%, -50%) scale(1);
  animation: scaleUp 300ms ease-out forwards;
  padding-bottom: 20px;

  z-index: 999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  /* z-index: 100; */
}
.headerHistory {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  img {
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    cursor: pointer;
  }

  p {
    margin: 0;
    font-weight: 500;
  }
  button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
  }
}
.contentHistory {
  padding: 20px;
  .content {
    margin: 20px 0;
  }
  .docs {
    color: #595959;
    margin: 5px 0;
  }
  .payAt {
    color: #595959;
  }
  .title {
    font-weight: 500;
  }
  .totalIVA {
    font-weight: 700;
  }
  .planType {
    font-weight: 600;
    font-size: 20px;
    strong {
      font-weight: 800;
    }
  }
  .txtTransparent {
    color: #00000054;
  }
  .price {
    font-weight: 500;
  }
  .priceTotal {
    font-weight: 700;
  }
}
.contentHistory p {
  margin: 0;
}

.contentHistory .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: #ececec;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    color: #222222;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  .btns {
    display: flex;
    gap: 10px;
  }
  img {
    cursor: pointer;
  }
}

.contentHistory .section {
  border-bottom: 1px solid #0e0e0e1c;
  padding: 10px 0;
}

.contentHistory .section:last-of-type {
  border-bottom: 3px solid #0e0e0e1c;
  padding: 10px 0 25px 0;
}

.contentHistory .section .row {
  display: flex;
  justify-content: space-between;
}

.scaleDown {
  animation: scaleDown 300ms ease-in forwards;
  -webkit-animation: scaleDown 300ms ease-in forwards;
}

@keyframes scaleUp {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
  }
}

.fadeOut {
  opacity: 0;
}
